<div
  class="container-fluid h-100 w-100 gap-3 mt-5 d-flex flex-column align-items-center justify-content-start"
>
  <h1 class="h1 display-h2">Conversão de moedas</h1>

  <div class="w-100 px-3">
    <form
      class="gap-4 flex-wrap d-flex align-items-center justify-content-center"
      [formGroup]="convertForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="gap-4 flex-wrap d-flex align-items-center justify-content-center"
      >
        <!-- Moeda de origem -->
        <mat-form-field color="accent">
          <mat-label>Moeda de origem</mat-label>
          <mat-select formControlName="originCurrency" name="originCurrency">
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.description }} ({{ symbol.code }})
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="convertForm.get('originCurrency')?.hasError('required')"
            >Escolha uma das opções</mat-error
          >
        </mat-form-field>

        <!-- Moeda de destino -->
        <mat-form-field color="accent">
          <mat-label>Moeda de destino</mat-label>
          <mat-select formControlName="destinyCurrency" name="destinyCurrency">
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.description }} ({{ symbol.code }})
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="convertForm.get('destinyCurrency')?.hasError('required')"
          >
            Escolha uma das opções
          </mat-error>
        </mat-form-field>

        <!-- Valor -->
        <mat-form-field color="accent">
          <mat-label>Valor</mat-label>
          <input
            type="number"
            matInput
            formControlName="convertValue"
            name="convertValue"
            placeholder="Ex. 10.5"
            min="0"
          />
          <mat-error
            *ngIf="convertForm.get('convertValue')?.hasError('required')"
          >
            Valor nulo
          </mat-error>
          <mat-error *ngIf="convertForm.get('convertValue')?.hasError('min')"
            >Valor deve ser maior que 0</mat-error
          >
        </mat-form-field>
      </div>
      <div
        class="container w-100 d-flex align-items-center justify-content-center"
      >
        <button
          mat-raised-button
          color="primary"
          class="fs-5 p-4"
          type="submit"
          [disabled]="loaderService.isLoading.value || !convertForm.valid"
        >
          Converter
        </button>
      </div>
    </form>
  </div>

  <mat-spinner
    color="primary"
    *ngIf="loaderService.isLoading | async"
  ></mat-spinner>

  <mat-divider *ngIf="isDataReturned"></mat-divider>
  <div
    class="container w-100 d-flex flex-column align-items-center justify-content-center"
    *ngIf="isDataReturned"
  >
    <mat-card
      class="container col-10 col-md-8 gap-5 shadow border rounded-2 border-dark border-opacity-25 flex-column align-items-center justify-content-center"
    >
      <mat-card-header
        class="w-100 gap-3 d-flex flex-column align-items-center text-black"
      >
        <mat-card-title
          class="fs-2 fw-semibold text-secondary-color text-center"
        >
          Dados iniciais
        </mat-card-title>
        <div class="gap-5 d-flex align-items-center justify-content-center">
          <span
            matTooltip="Moeda de origem"
            class="fs-4 gap-2 d-flex align-items-center justify-content-center"
            ><mat-icon color="primary">home_pin</mat-icon>
            <strong class="text-black-50"
              >{{ responseData.query.from }}
            </strong></span
          >
          <span
            matTooltip="Moeda de destino"
            class="fs-4 gap-2 d-flex align-items-center justify-content-center"
            ><mat-icon color="primary">location_on</mat-icon>
            <strong class="text-black-50">{{ responseData.query.to }}</strong>
          </span>
          <span
            matTooltip="Valor a se converter"
            class="fs-4 gap-2 d-flex align-items-center justify-content-center"
          >
            <mat-icon color="primary">money</mat-icon>
            <strong class="text-black-50">
              {{ responseData.query.amount }}
            </strong>
          </span>
        </div>
      </mat-card-header>
      <mat-card-content
        class="w-100 gap-3 d-flex flex-column align-items-center justify-content-center text-black"
      >
        <h2 class="fs-2 fw-semibold">Resultados</h2>
        <div class="gap-5 d-flex align-items-center justify-content-center">
          <span
            matTooltip="Valor convertido"
            class="fs-4 gap-3 text-success fw-semibold d-flex align-items-center justify-content-center"
          >
            <mat-icon color="success">local_atm</mat-icon>

            {{ responseData.result }}
          </span>
          <span
            matTooltip="Taxa de conversão"
            class="fs-4 gap-3 text-success fw-semibold d-flex align-items-center justify-content-center"
          >
            <mat-icon color="success">currency_exchange</mat-icon>
            {{ responseData.info.rate }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
