<div
  class="container-fluid h-100 w-100 gap-3 mt-5 d-flex flex-column align-items-center justify-content-start"
>
  <h1 class="h1 display-h2">Conversão de moedas</h1>

  <div class="w-100 px-3">
    <form
      class="gap-2 flex-wrap d-flex align-items-center justify-content-center"
      [formGroup]="convertForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="gap-4 flex-wrap d-flex align-items-center justify-content-center"
      >
        <mat-form-field>
          <mat-label>Moeda de origem</mat-label>
          <mat-select formControlName="originCurrency" name="originCurrency">
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.code }} ({{ symbol.description }})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Moeda de destino</mat-label>
          <mat-select formControlName="destinyCurrency" name="destinyCurrency">
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.code }} ({{ symbol.description }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Valor</mat-label>
          <input
            type="number"
            matInput
            formControlName="convertValue"
            name="convertValue"
            placeholder="Ex. 10.5"
            min="0"
          />
        </mat-form-field>
      </div>
      <div
        class="container w-100 d-flex align-items-center justify-content-center"
      >
        <button
          mat-raised-button
          color="primary"
          class="fs-5 p-4"
          type="submit"
        >
          Converter
        </button>
      </div>
    </form>
  </div>

  <mat-spinner *ngIf="loaderService.isLoading | async"></mat-spinner>

  <div
    class="container w-100 d-flex flex-column align-items-startjustify-content-center"
    *ngIf="responseData"
  >
    <h1 class="h1 display-3">Resultados</h1>

    <span class="fs-5 fw-semibold">resultado: {{ responseData.result }}</span>
    <span class="fs-5 fw-semibold"> taxa: {{ responseData.info.rate }} </span>
  </div>
</div>
