.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  a {
    padding: 1.2rem;

    &:hover {
      background-color: white;
    }
  }
}
