<div
  class="container-fluid h-100 w-100 gap-5 mt-5 d-flex flex-column align-items-center justify-content-start"
>
  <h1 class="h1">Histórico de Conversões</h1>

  <div class="container w-100 h-100">
    <div
      *ngIf="convertionData[0]"
      class="container w-100 mb-4 d-flex justify-content-center"
    >
      <button
        color="warn"
        matTooltip="Deletar todos os registros"
        mat-raised-button
        (click)="deleteAll()"
      >
        Deletar todos
      </button>
    </div>
    <app-history-table />
  </div>
</div>
