<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="coins">Listagem</a>
      <a mat-list-item routerLink="converter">Conversor</a>
      <a mat-list-item routerLink="history">Histórico</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a
        class="d-flex align-items-center justify-content-center"
        mat-button
        routerLink=""
      >
        <img
          src="../../favicon.ico"
          alt="navbar-brand-img"
          class="img-fluid"
          [style]="{ width: '2.5rem' }"
        />
        <span class="fs-4">Conversor de Moedas</span>
      </a>
      <span class="spacer"></span>
      <div class="link-list" *ngIf="isUpMedium$ | async">
        <a mat-button routerLink="coins">Moedas</a>
        <a mat-button routerLink="converter">Conversor</a>
        <a mat-button routerLink="history">Histórico</a>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
