@use "@angular/material" as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$red-palette, 500);
$app-accent: mat.define-palette(mat.$orange-palette, 400, 600, A100);
$app-black: mat.define-palette(mat.$grey-palette, 900);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      black: $app-black,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($app-light-theme);
